# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 
print("Veronica Koval")

Veronica Koval

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [60]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [61]:
# Load data here
df = pd.read_csv('data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [62]:
# 1. How many listings are there with a price less than 100? 
print((df['price'] < 100).sum())

22778

In [63]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
bk_df = df[df['neighbourhood_group'] == 'Brooklyn']
bk_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0

In [64]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
print((bk_df['price'] < 100).sum())

10473

In [65]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
print(len(bk_df['host_name'].isin(['Michael, David, John, Daniel'])))

18632

In [72]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

df['adjusted_price'] = df.apply(lambda a: a['price'] + 100 if a['neighbourhood'] == 'Williamsburg' else a['price'], axis=1)

In [83]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
private = (df['room_type'] == 'Private room').sum()
shared = (df['room_type'] == 'Shared room').sum()

print(f'Percent of Private: {private/len(df)*100}%')
print(f'Percent of Shared: {shared/len(df)*100}%')

Percent of Private: 45.444580566122895%
Percent of Shared: 2.12134889419047%

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [78]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

grouped = df.groupby('neighbourhood_group')

grouped.size()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [81]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

grouped['price'].sum()/grouped.size()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
dtype: float64

In [82]:
# 2.5. Using `groupby`, find the mean price for each room_type. 

grouped2 = df.groupby('room_type')
grouped2['price'].sum()/grouped2.size()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
dtype: float64

In [85]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

print(grouped.agg({'price': ['min', 'max']}))

                    price
                      min    max
neighbourhood_group
Bronx                  16   1404
Brooklyn                0  10000
Manhattan               0  10000
Queens                  0  10000
Staten Island          19   1200

In [86]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

print(grouped2.agg({'price': ['mean']}))

                      price
                       mean
room_type
Entire home/apt  199.395950
Hotel room       275.015075
Private room      91.453084
Shared room       87.063830

In [87]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.


print(grouped2.agg({'price': ['sum', 'min', 'max', 'mean', 'median', 'std']}))

                   price
                     sum min    max        mean median         std
room_type
Entire home/apt  4785104   0  10000  199.395950    150  337.657116
Hotel room        109456   0   2211  275.015075    192  301.658021
Private room     1933684  10  10000   91.453084     65  282.450148
Shared room        85932  10  10000   87.063830     46  354.048373

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [100]:
# 1. Load the `prices.csv` and the `n_listings.csv`
prices = pd.read_csv('data/prices.csv')
n_listings = pd.read_csv('data/n_listings.csv')
n_listings[['neighbourhood_group', 'n_listings']] = n_listings['neighbourhood_group;n_listings'].str.split(';', 1, expand=True)
n_listings.drop('neighbourhood_group;n_listings', axis=1, inplace=True)

<bound method NDFrame.head of   neighbourhood_group n_listings
0               Bronx       1183
1            Brooklyn      18632
2           Manhattan      20580
3          LongIsland       4121>

In [102]:
# 2. Do join that keeps all the records for each table.

result = pd.merge(prices, n_listings, on='neighbourhood_group', how='outer')
print(result)

  neighbourhood_group   mean_price n_listings
0               Bronx    92.751479       1183
1            Brooklyn   120.225258      18632
2           Manhattan   191.880466      20580
3              Queens    99.754965        NaN
4       Staten Island   110.947214        NaN
5          LongIsland          NaN       4121

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years and add them all into one data frame using pandas.